.card {
  min-height: 508px;
  padding: 7px 7px 0;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin: 20px 20px 0;
  gap: 20px;
  position: relative;
}
.card img {
  width: 100%;
  /* height: 286px; */
  border-radius: 8px;
}
.card h4 {
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}
.details {
  padding-bottom: 50px;
}
.details p {
  margin: 0;
}
.btn {
  height: 48px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  transition: background-color 250ms ease-in;
}
.btn:hover {
  cursor: pointer;
  background-color: #995c00;
  color: #fff;
}
